<nav #navbar class="navbar navbar-expand-lg" 
[ngStyle]="backgroundStyle">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/portflix.png" alt="Logo" height="34" class=" px-4 d-inline-block align-text-center">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex w-100">
              <!-- Imagen primero en móvil -->
              <li class="nav-item d-flex align-items-center perfil-movil">
                <img [src]="persona.foto" alt="Foto de perfil" class="rounded" height="34">
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link project-description"
                   [ngClass]="{ 'active': seccionActual === 'home' }"
                   aria-current="page"
                   href="#home"
                   (click)="cambiarSeccion('home')">Home</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link"
                   [ngClass]="{ 'active': seccionActual === 'proyectos' }"
                   href="#proyectos"
                   (click)="cambiarSeccion('proyectos')">Proyectos</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link"
                   [ngClass]="{ 'active': seccionActual === 'skills' }"
                   href="#skills"
                   (click)="cambiarSeccion('skills')">Skills</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link"
                   [ngClass]="{ 'active': seccionActual === 'contacto' }"
                   href="#contacto"
                   (click)="abrirModal()"
                   (click)="cambiarSeccion('contacto')">Contacto</a>
              </li>
              <!-- Imagen último en escritorio -->
              <li class="nav-item ms-auto d-flex align-items-center perfil-escritorio">
                <img [src]="persona.foto" alt="Foto de perfil" class="rounded" height="34">
              </li>
  
              <li class="nav-item dropdown">
              </li>
            </ul>
          </div>
        </div>
    </nav>