<!-- <div class="modal-header">
    <h5 class="modal-title">{{ proyecto?.title }}</h5>
</div>
<div class="modal-body">
    <img [src]="proyecto?.image" class="img-fluid mb-3" *ngIf="proyecto?.image">
    <p>{{ proyecto?.descripcion }}</p>
</div> -->

<div class="imagen-header">
  <img [src]="proyecto?.image" class="img-fluid w-100 imagen-proyecto" alt="Imagen del proyecto">
  <div class="gradiente-sobre-imagen"></div>
  <div class="info">
    <h2 class="titulo-superpuesto">{{ proyecto?.title }}</h2>
    <a 
    *ngIf="proyecto?.deploy" 
    [href]="proyecto?.deploy" 
    target="_blank" 
    class="btn btn-light px-3 py-1 me-3"><i class="bi bi-play-fill">
      </i> Ver
    </a>
    <a [href]="proyecto?.repositorio" target="_blank" 
     class="btn text-white px-3 py-1 m-0" style="background-color: #212429;"><i class="bi bi-github"></i>  Repositorio</a>
  </div>
</div>

<div class="modal-body bg-netflix">
  <div class="row">
    <div class="col-12 col-md-8">
      <p>{{ proyecto?.description }}</p>
    </div>
    <div class="col-12 col-md-4">
      <p><strong>Tecnologías: </strong></p>
      <div class="d-flex flex-wrap gap-2">
        <span *ngFor="let tech of proyecto?.tecnologias" class="badge bg-primary">
          {{ tech }}
        </span>
      </div>
    </div>

  </div>
</div>
