<div class="main-content">
  
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex w-100">
  
              <a class="navbar-brand" href="#">
                <img src="/portflix.png" alt="Logo" height="34" class=" px-4 d-inline-block align-text-center">
              </a>
  
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link active project-description" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="#">TV Shows</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="#">Movies</a>              
              </li>
  
              <li class="nav-item ms-auto d-flex align-items-center">
                <img src="https://avatars.githubusercontent.com/u/75147754?v=4" alt="Foto de perfil" class="rounded" height="34">
              </li>
  
              <li class="nav-item dropdown">
              </li>
            </ul>
          </div>
        </div>
    </nav>
  
    <div class="contenido-inicio text-white">
      
      <div class="inicio-informacion">
        <h1 class="titulo-nombre display-3">Santiago Bruno</h1>
        <h4 class="pb-2">Desarrollador Full Stack</h4>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reiciendis corporis quos, dignissimos itaque similique dolorum sunt</p>
        
        <button type="button" class="btn btn-light px-4 py-1 m-0"><i class="bi bi-download"></i> CV</button>
        <button type="button" class="btn btn-secondary px-4 py-1 ms-2"><i class="bi bi-info-circle"></i> Más info</button>
      </div>
  
    </div>
    
  
  </div>
  
  
  