
    






.contenido-inicio{
    height: 100%;
    padding: 4rem 2rem;
    /* background-color:#00800087; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, #141414 100%);
    background: linear-gradient(to left, rgba(0,0,0,0) 40%, #141414 100%);
}

.inicio-informacion{
    width: 50%;
    margin: auto 0px;
    /* background-color: orange; */
}

.titulo-nombre{
    font-family: Tektur !important;
}


/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    .main-content {
        height: 50vh; /* Cambia el alto en dispositivos móviles */
    }

    .inicio-informacion {
        width: 100%;
        margin: 0px;
    }

    .contenido-inicio{
        padding: 1rem;
        width: 100%;
    }
}