#proyectos{
    scroll-margin-top: 90px; /* altura de tu navbar */
}

.card-container {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
}

.hover-card {
  margin-top:32px;
  margin-bottom: 32px;

  width: 14rem;
  height: 9rem;
  overflow: hidden;
  transition: transform 150ms ease-in-out;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background: #000;
  flex-shrink: 0;
  z-index: 1;
}

.hover-card:hover {
  transform: scale(1.5);
  z-index: 10;
}

.info-tarjeta{
	display: none !important;
}

.card:hover .info-tarjeta {
    display: flex !important;
}

/* Escalado hacia la derecha */
.hover-left:hover {
  transform-origin: left center;
}

/* Escalado hacia la izquierda */
.hover-right:hover {
  transform-origin: right center;
}

/* Escalado simétrico */
.hover-center:hover {
  transform-origin: center center;
}


.card-img-container.cover {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 10px 10px 0 0;
}

.hover-text {
  opacity: 0;
  visibility: hidden;
  position: relative;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: #181818;
  color: white;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  transition: bottom 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.hover-card:hover .hover-text {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}



/* Flechas y contenedor */
.netflix-arrow {
  font-size: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  opacity: 0;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.netflix-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}

.card-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
}
