<!-- Carrusel proyectos -->
<div id="proyectos" class="container-fluid position-relative" 
*ngFor="let grupoDeProyecto of gruposDeProyectos; let i = index">
  <h2 style="margin-bottom: -32px;">{{grupoDeProyecto.nombre}}</h2>

  <div class="card-carousel-wrapper position-relative">
    <!-- Flechas superpuestas -->
    <button (click)="scrollLeft()" class="netflix-arrow left-arrow">
      <i class="bi bi-arrow-left-short"></i>
    </button>
    <button (click)="scrollRight()" class="netflix-arrow right-arrow">
      <i class="bi bi-arrow-right-short"></i>
    </button>

    <!-- Carrusel de tarjetas -->
    <div
      #cardContainer
      class="card-container d-flex flex-row overflow-auto py-3"
    >
      <div
        class="card hover-card"
        *ngFor="let proyecto of grupoDeProyecto.proyectos; let i = index"
        (mouseenter)="playHoverSound()"
        [ngClass]="{
          'hover-left': i === 0,
          'hover-right': i === grupoDeProyecto.proyectos.length - 1,
          'hover-center': i > 0 && i < grupoDeProyecto.proyectos.length - 1
        }"
        (click)="abrirModal(proyecto)"
      >
        <div
          class="card-img-container position-relative cover"
          [style.backgroundImage]="'url(' + proyecto.image + ')'"
        >
          <!-- Imagen oculta para SEO/accesibilidad -->
          <img
            [src]="proyecto.image"
            class="card-img-top d-none"
            alt="Card image"
          />
        </div>

        <!-- info card -->
        <div
          class="info-tarjeta justify-content-between align-items-center hover-text"
        >
          <span class="fs-6">{{ proyecto.title }}</span>
          <div class="d-flex gap-2">
            <a *ngIf="proyecto?.deploy" style="text-decoration: none; color:white" [href]="proyecto?.deploy" target="_blank">
              <i class="bi bi-play-circle-fill fs-5"></i>
            </a>
            <i class="bi bi-arrow-down-square-fill fs-5"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
